body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
}

// .wrapper {
//   display: flex;
// }

.box {
  display: inline-block;
  vertical-align: top;
  span {
    display: block;
  }
}

.inner {
  border: solid 4px darken(whitesmoke, 10%);
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: darken(whitesmoke, 5%);
  cursor: pointer;
  &:hover {
    border-color: darken(whitesmoke, 20%);
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

span.route {
  font-style: italic;
  color: #555;
  font-size: 12px
}