body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; }

body * {
  box-sizing: border-box; }

.box {
  display: inline-block;
  vertical-align: top; }
  .box span {
    display: block; }

.inner {
  border: solid 4px gainsboro;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #e8e8e8;
  cursor: pointer; }
  .inner:hover {
    border-color: #c2c2c2; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em; }

span.route {
  font-style: italic;
  color: #555;
  font-size: 12px; }
